<!doctype html>
<html lang="en" ng-app="galaxy">
    <head>
        <meta charset="UTF-8">
        <title>Fliper 1</title>
    {% block javascript %}
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/angular.min.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/jquery-1.9.1.min.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/script.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/jquery.colorbox.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/colorBoxScript.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/angular-slider.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/jquery-ui-1.10.3.custom.min.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/js_script.js' )  }}"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{{ asset ( 'bundles/galaxyfrontend/css/angular-slider.css' ) }}"/>
        <link rel="stylesheet" href="{{ asset ( 'bundles/galaxyfrontend/css/jquery-ui-1.10.3.custom.css' ) }}"/>
        <link rel="stylesheet" href="{{ asset ( 'bundles/galaxyfrontend/css/style.css' ) }}"/>
    {% endblock %}
    </head>
    {% verbatim %}
    <body class="" ng-controller="FlipperCtrl">
        <section>
            <div style="position: absolute;  left:850px; top: 400px; width: 120px; height: 120px; z-index: 1000;display: none;" ng-show="pointImage">
                <img border="0" ng-src="{{ pointImagePath }}" alt="Point">
            </div>
            <div style="position: absolute; left:650px; top: 250px; width: 650px; height: 120px; z-index: 1000;background-color: white; display: none;"
                 ng-show="user.gameInfo.questions">
            {{question.text}}__time {{question.seconds}}
                <ul >
                    <li >
                        <label ng-repeat="answer in question.answers">
                            <input  type="radio" ng-model="$parent.rightAnswer" name="answer" value="{{$index}}">{{ answer }}
                        </label>
                    </li>
                </ul>

                <input ng-click="answer()" type="submit" value="pli">
            </div>
        </section>
            <section>
            <div style="position: absolute; left:850px; top: 400px; width: 400px; height: 200px; z-index: 1000;display: none; background-color: white" ng-show="userLog">

            <table width="100%" border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Text</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in userLogs">
                        <td>{{ item.id }}</td>
                        <td>{{ item.userId }}</td>
                        <td>{{ item.text }}</td>
                        <td>{{ item.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
                </section>
        <div class="fliper"><!-- fliper -->
            <header><!-- header -->
                <div class="header-content">
                    <a href="#" class="logo"></a>
                    <a href="#" class="logout"></a>
                    <div class="user-name">
                       {{ user.username}}: <span>{{user.id}}</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </header><!-- .header -->
            <section class="prize-state state-all"  ng-show="capturedPrize">
                <div class="hex">
                    <img src="" alt="">
                    <a href="#"></a>
                    <div class="hx"></div>
                    <span>{{elements["count"][elements[capturedPrize.elementId].prizeName]}}</span>
                </div>
                <div class="v-line"></div>
                <div class="hex prize-two">
                    <span class="count-1">{{elements[capturedPrize.elementId].available}}</span>
                    <span class="count-2">{{elements[capturedPrize.elementId].price}}</span>
                    {{elements[capturedPrize.elementId].img1}}
                    <a href="#" ng-show="hasMonyeForPrize()" ng-click="buyElement()"></a>
                    <div class="hx"></div>
                    
                </div>
            </section>
            <section class="info-panel"><!-- info-panel -->
                <div class="lives-count-container"><!-- lives-count-container -->
                    <i ng-repeat="i in [] | range:5" class="live-icon"
                             ng-class="i <= user.gameInfo.flipper.id && 'active' || ''"></i>
                    <div class="glass"></div>
                    <div class="counters">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"><i></i></div>
                        <i class="distance-icon">
                            <span ng-model="maxJump">{{ user.gameInfo.flipper.maxJump }}</span>
                        </i>
                        <i class="price-icon">
                            <span>{{ user.gameInfo.flipper.rentCost}}</span>
                        </i>
                    </div>
                </div><!-- .lives-count-container -->

                <div class="mark"><!-- mark -->
                    <i class="mark-1"><i></i></i>
                    <span>{{ user.gameInfo.superJumps }}</span>
                </div><!-- .mark -->
                <div class="mark"><!-- mark -->
                    <i class="mark-2"><i></i></i>
                    <span>{{ user.gameInfo.countMessages }}</span>
                </div><!-- .mark -->
               <div class="mark price"><!-- mark -->
                    <i class="mark-3">
                        <span></span>
                        <i></i>
                    </i>
                    <span ng-click id="active" ng-model="user.fundsInfo.active" active="{{ user.fundsInfo.active }}" >{{ user.fundsInfo.active }}</span>
                    <div class="price-slider" id="price-slider">
                        <div id="sliderActive"></div>
                    </div>
                    <span class="transfer-count" id="transActive"  style="{{0 < user.fundsInfo.transActive ? 'display: inline; left: 131px;' : ''}}" transActive="{{ user.fundsInfo.transActive }}"  transValue="0">+{{ user.fundsInfo.transActive }}</span>
                 </div><!-- .mark -->
                <div class="mark bank"><!-- mark -->
                    <i class="mark-4"><i></i></i>
                    <span id="safe" ng-model="user.fundsInfo.safe" safe="{{ user.fundsInfo.safe }}">{{ user.fundsInfo.safe }}</span>
                     <div class="price-slider" id="bank-slider">
                        <div id="sliderSafe"></div>
                    </div>
                    <span class="transfer-count" id="transSafe" style="{{0 < user.fundsInfo.transSafe ? 'display: inline; left: 131px;' : ''}}" transSafe="{{ user.fundsInfo.transSafe }}"  transValue="0">+{{ user.fundsInfo.transSafe }}</span>
                </div><!-- .mark -->
                <div class="mark"><!-- mark -->
                    <i class="mark-5"><i></i></i>
                    <span id="deposite">{{ user.fundsInfo.deposite }}</span>
                </div><!-- .mark -->
                <div class="mark-line" style="display: none"><!-- mark-line -->
                    <div class="mark"><!-- mark -->
                        <i class="mark-6">
                            <span>256</span>
                        </i>
                    </div><!-- .mark -->
                    <div class="mark"><!-- mark -->
                        <i class="mark-7">
                            <span>{{ user.gameInfo.countRentJumps }}</span>
                        </i>
                    </div><!-- .mark -->
                    <div class="mark"><!-- mark -->
                        <i class="mark-8">
                            <span>10</span>
                        </i>
                    </div><!-- .mark -->
                    <div class="mark"><!-- mark -->
                        <i class="mark-9">
                            <span>20</span>
                        </i>
                    </div><!-- .mark -->
                    <div class="mark"><!-- mark -->
                        <i class="mark-10">
                            <span>3</span>
                        </i>
                    </div><!-- .mark -->
                </div><!-- .mark-line -->
            </section><!-- .info-panel -->
            <section class="flipper-sec"><!-- flipper-sec -->

            </section><!-- .flipper-sec -->
            <section class="full-panel">
                <div class="coordinats-selection" ng-class="jumpActive && 'active' || ''">
                    <div class="line line-1"><div class="dot"></div></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                    <div class="line line-4"><div class="dot"></div></div>
                    <div class="coordinat coordinat-x">
                        <span>x</span>
                        <input  type="text" name="" id="" 
                                          ng-model="x"
                                          min="pointMin"
                                          max="pointMax"
                                          ng-change="coordChange('{{x}}', 'x')"
                                          ng-mouseenter="coordinataXbg='active'"
                                          ng-mouseleave="coordinataXbg=''"
                                          data-integer-input="">
                    </div>
                    <div class="coordinat coordinat-y">
                        <span>y</span>
                        <input  type="text" name="" id="" 
                                          ng-model="y"
                                          min="pointMin"
                                          max="pointMax"
                                          ng-change="coordChange('{{y}}', 'y')"
                                          ng-mouseenter="coordinataXbg='active'"
                                          ng-mouseleave="coordinataXbg=''"
                                          data-integer-input="">
                    </div>
                    <div class="coordinat coordinat-z">
                        <span>z</span>
                        <input  type="text" name="" id="" 
                                          ng-model="z"
                                          min="pointMin"
                                          max="pointMax"
                                          ng-change="coordChange('{{z}}', 'z')"
                                          ng-mouseenter="coordinataXbg='active'"
                                          ng-mouseleave="coordinataXbg=''"
                                          data-integer-input="">
                    </div>
                    <a href="#" class="coordinat-submit" ng-click="jump()"></a>
                </div>
                <a href="/store" class="c-icon-12 c-icon"></a>
                <a href="#" id="show-helps" class="c-icon-6 c-icon"></a>
                <a href="/user_basket" class="c-icon-13 c-icon"></a>
            </section>
        </div><!-- .fliper -->
        <div id="draggable" class="current-coordinats" style="position: absolute;">
            <div>{{ user.gameInfo.x}} <sup>x</sup></div>
            <div>{{ user.gameInfo.y}} <sup>y</sup></div>
            <div>{{ user.gameInfo.z}} <sup>z</sup></div>
        </div>
        
    </body>
    <div style="display: none">
    <div  style="height: 100px">
                <select size="1" ng-model="pointType">
                    <option value="1">+%</option>
                    <option value="2">+ Период для элементов</option>
                    <option value="3">+ Период принадлежности приза</option>
                    <option value="4">+ Элемент приза</option>
                </select>
                <button type="button" ng-click="radar()" >Радар</button>
                <button type="button" ng-click="deleteZone()" >Удалить зону</button>
            </div>
            <div ng-show="zoneShow">
            Zona 2:
            Duration: {{ user.gameInfo.flipper.secondZoneDuration1}} Cost: {{ user.gameInfo.flipper.secondZoneCost1}} <button type="submit" ng-click="buyZone(1)" class="btn btn-primary">Купить</button>
            Duration: {{ user.gameInfo.flipper.secondZoneDuration2}} Cost: {{ user.gameInfo.flipper.secondZoneCost2}} <button type="submit" ng-click="buyZone(2)" class="btn btn-primary">Купить</button>
            Duration: {{ user.gameInfo.flipper.secondZoneDuration3}} Cost: {{ user.gameInfo.flipper.secondZoneCost3}} <button type="submit" ng-click="buyZone(3)" class="btn btn-primary">Купить</button>
            Duration: {{ user.gameInfo.flipper.secondZoneDuration4}} Cost: {{ user.gameInfo.flipper.secondZoneCost4}} <button type="submit" ng-click="buyZone(4)" class="btn btn-primary">Купить</button>
            </div>
            <div ng-show="zoneShow2">
            Zona 1:
            Duration: {{ user.gameInfo.flipper.firstZoneDuration1}} Cost: {{ user.gameInfo.flipper.firstZoneCost1}} <button type="submit" ng-click="buyZone(1)" class="btn btn-primary">Купить</button>
            Duration: {{ user.gameInfo.flipper.firstZoneDuration2}} Cost: {{ user.gameInfo.flipper.firstZoneCost2}} <button type="submit" ng-click="buyZone(2)" class="btn btn-primary">Купить</button>
            Duration: {{ user.gameInfo.flipper.firstZoneDuration3}} Cost: {{ user.gameInfo.flipper.firstZoneCost3}} <button type="submit" ng-click="buyZone(3)" class="btn btn-primary">Купить</button>
            Duration: {{ user.gameInfo.flipper.firstZoneDuration4}} Cost: {{ user.gameInfo.flipper.firstZoneCost4}} <button type="submit" ng-click="buyZone(4)" class="btn btn-primary">Купить</button>
            </div>
            
</div>
            <br>
           
{% endverbatim %}
</html>