<!doctype html>
<html lang="en" ng-app="galaxy">
<head>
	<meta charset="UTF-8">
	<title>Fliper 1</title>
    {% block javascript %}
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/angular.min.js' )  }}"></script>
        <script type="text/javascript" src="{{ asset ( 'bundles/galaxyfrontend/js/script.js' )  }}"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{{ asset ( 'bundles/galaxyfrontend/css/style.css' ) }}"/>
    {% endblock %}
</head>
{% verbatim %}
<body ng-controller="FlipperCtrl">
    <div style="position: absolute; left:700px; top: 300px; width: 120px; height: 120px; background-color: white; z-index: 1000;display: none;" ng-show="pointImage">
    <img border="0" ng-src="{{ pointImagePath }}" alt="Point">
    </div>
	<div class="fliper"><!-- fliper -->
		<header><!-- header -->
			<div class="header-content">
				<a href="#" class="logo"></a>
				<div class="tooltip last-ms">
					<div class="tooltip-line">
						<div class="dot"></div>
					</div>
					<div class="tooltip-left"></div>
					<div class="tooltip-center">
						<div class="tooltip-text">привет {{ user.username}}. Прошло 5 дней со дня твоего последнего визита</div>
					</div>
					<div class="tooltip-right"></div>
				</div>
				<div class="user-name">
					{{ user.username}}: <span>{{user.id}}</span>
				</div>
				<div class="clear"></div>
			</div>
		</header><!-- .header -->
		<aside class="left-sidebar"><!-- left-sidebar -->
			<div class="tooltip" ng-style="tooltipStyle">
				<div class="tooltip-line">
					<div class="dot"></div>
				</div>
				<div class="tooltip-left"></div>
				<div class="tooltip-center">
					<div class="tooltip-text">{{ tooltipMessage}}</div>
				</div>
				<div class="tooltip-right"></div>
			</div>
			<div class="lives-count" ><!-- lives-count -->
				<div ng-repeat="i in [] | range:5" class="live-item"
                                     ng-class="i <= user.gameInfo.flipper.id && 'active' || ''">
					<div class="light"></div>
					<div class="icon"></div>
				</div>
				<div class="clear"></div>
			</div><!-- .lives-count -->
			<div class="clear"></div>
			<div class="statistic"><!-- statistic -->
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств 1">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-1"></div>
					</div>
					<span ng-model="maxJump">{{user.gameInfo.flipper.maxJump}}</span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств 2">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-2"></div>
					</div>
					<span>0</span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств 3">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-3"></div>
					</div>
					<span>{{user.gameInfo.flipper.costJump}} <i></i></span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-4"></div>
					</div>
					<span>{{user.sessionJump}}</span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-7"></div>
					</div>
					<span>{{user.gameInfo.totalJumps}}</span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-coord">
					<div class="stat-item">
						<span>X:</span>
						<span>{{ user.gameInfo.x}}</span>
					</div><div class="clear"></div>
					<div class="stat-item">
						<span>Y:</span>
						<span>{{ user.gameInfo.y}}</span>
					</div><div class="clear"></div>
					<div class="stat-item">
						<span>Z:</span>
						<span>{{ user.gameInfo.z}}</span>
					</div><div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-6"></div>
					</div>
					<span>{{user.fundsInfo.active}}</span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-5"></div>
					</div>
					<span>{{user.fundsInfo.safe}}</span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="stat-item" data-left-tooltip="на вашем счету недостаточно средств">
					<div class="stat-icon">
						<div class="light"></div>
						<div class="icon icon-8"></div>
					</div>
					<span>{{user.fundsInfo.deposite}}</span>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div><!-- .statistic -->
		</aside><!-- .left-sidebar -->
		<div class="control-panel">
			<a href="#" class="control control-1"></a>
			<a href="#" class="control control-2"></a>
			<a href="#" class="control control-3"></a>
			<a href="#" class="control control-4"></a>
			<a href="#" class="control control-5"></a>
			<a href="#" class="control control-6"></a>
			<a href="#" class="control control-7"></a>
			<a href="#" class="control control-8" ng-click="jump()"></a>
			<a href="#" class="control control-9"></a>
			<div class="select-coordinats"><!-- select-coordinats -->
				<div class="c-line-1"></div>
				<div class="c-line-2"></div>
				<div class="c-line-3"></div>
				<div class="coordinata-x-bg" ng-class='coordinataXbg'></div>
				<div class="coordinata-y-bg" ng-class='coordinataYbg'></div>
				<div class="coordinata-z-bg" ng-class='coordinataZbg'></div>
				<div class="coordinata-total-bg" ng-class='coordinataTotalBg'></div>
				<div class="coordinata-x">
					<a href="#" class="bt-plus" ng-click="increment('x')"></a>
					<a href="#" class="bt-minus" ng-click="decrement('x')"></a>
					<div>x:<input type="text" name="" id="" 
                                                      ng-model="x"
                                                      min="pointMin"
                                                      max="pointMax"
                                                      ng-change="coordChange('{{x}}', 'x')"
                                                      ng-mouseenter="coordinataXbg='active'"
                                                      ng-mouseleave="coordinataXbg=''"
                                                      data-integer-input=""></div>
				</div>
				<div class="coordinata-y">
					<a href="#" class="bt-plus" ng-click="increment('y')"></a>
					<a href="#" class="bt-minus" ng-click="decrement('y')"></a>
					<div>y:<input type="text" name="" id="" 
                                                      ng-model="y"
                                                      min="pointMin"
                                                      max="pointMax"
                                                      ng-change="coordChange('{{y}}', 'y')"
                                                      ng-mouseenter="coordinataYbg='active'"
                                                      ng-mouseleave="coordinataYbg=''"
                                                      data-integer-input=""></div>
				</div>
				<div class="coordinata-z">
					<a href="#" class="bt-plus" ng-click="increment('z')"></a>
					<a href="#" class="bt-minus" ng-click="decrement('z')"></a>
					<div>z:<input type="number" name="" id="" 
                                                      ng-model="z"
                                                      min="pointMin"
                                                      max="pointMax"
                                                      ng-change="coordChange('{{z}}', 'z')"
                                                      ng-mouseenter="coordinataZbg='active'"
                                                      ng-mouseleave="coordinataZbg=''"
                                                      data-integer-input=""></div>
				</div>
				<div class="coordinata-total" ng-mouseenter="coordinataTotalBg='active'"
                                                      ng-mouseleave="coordinataTotalBg=''">
					<div>=<span>{{distance()}}</span></div>
				</div>
				<div class="tooltip" ng-show="jumpTooltip">
					<div class="tooltip-line">
						<div class="line-45"></div>
						<div class="light-dot"></div>
					</div>
					<div class="tooltip-left"></div>
					<div class="tooltip-center">
						<div class="tooltip-text"><!--Превышена допустимая дальность прыжка-->{{jumpTooltipText}}</div>
					</div>
					<div class="tooltip-right"></div>
				</div>
			</div><!-- .select-coordinats -->
		</div>
	</div><!-- .fliper -->
</body>
{% endverbatim %}
</html>